<div class="row">
  <div class="col">
    {{#each blog }}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="blogBody card-text">{{ body }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Category: {{ category }}</li>
          <li class="list-group-item">Mood: {{ mood }}</li>
        </ul>
        <div class="card-body">
          <a href="/blog/{{ id }}" class="card-link">View Blog</a>
          <a href="/member/{{ UserId }}" class="card-link">View Author</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>
