{{!-- This filter blog partial is used for all blog lists --}}
<div class="row">
  <div id="NoBlogs"></div>
  <div class="col" id="BlogList">
    {{#each blog }}
      <div class="card blogSearch">
        <div class="card-body">
          <h5 class="card-title"><a>{{title}}</a></h5>
          <p class="card-text"><a class="blogBody">{{ body }}</a></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Category: <a>{{ category }}</a></li>
          <li class="list-group-item">Mood: <a>{{ mood }}</a></li>
        </ul>
        <div class="card-body">
          <a href="/blog/{{ id }}" class="card-link">View Blog</a>
          <a href="/member/{{ UserId }}" class="card-link">Author: {{UserName}}</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>
