Title: {{ blog.title }}<br>
Body: {{ blog.body }}<br>
Author: <a href="/member/{{ blog.UserId }}">{{ blog.UserName }}</a> <img src="{{ blog.memberPicture }}" alt="Profile Picture" width="100"> <br>
Mood: {{ blog.mood }}<br>
Category: {{ blog.category }}