<h1>Member Profile</h1>

<img src="{{ member.picture }}" alt="Profile Picture" width="250"> <br><br>

Name: {{ member.name }} <br>
Email: {{ member.email }} <br>
Title: {{ member.title }} <br>
Bio: {{ member.bio }} <br>
Hobbies: {{ member.hobbies }} <br>
Interests: {{ member.interests }} <br>
Website: <a href="{{ member.website }}" target="_blank">{{ member.website }}</a> <br>


<div id="UserBlogs">{{> filterblogs}}</div>