<h1>See All Members</h1>

<div class="row">
  {{#each user }}
    <div class="col">
      <div class="card userCard">
        <a href="/member/{{ id }}"><img class="card-img-top" src="{{ picture }}" style="max-height: 296; max-width: 296;" alt="User Picture"></a>
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{ bio }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Title: {{title}}</li>
          <li class="list-group-item">Hobbies: {{hobbies}}</li>
          <li class="list-group-item">Interests: {{interests}}</li>
        </ul>
        <div class="card-body">
          <a href="/member/{{ id }}" class="card-link">View Profile</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>