<h1>See All Members</h1>

<div class="row" id="memberRow">
  {{#each user }}
    <div class="col">
      <div class="card userCard">
        <a href="/member/{{ id }}"><img class="card-img-top profilePicture" src="{{ picture }}" alt="User Picture"></a>
        <div class="card-body">
          <h5 class="card-title"> <a class="UserDetail">{{ name }}</a></h5>
          <p class="card-text"><a class="UserDetail">{{ bio }}</a></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a class="UserDetail">Title: {{ title }}</a></li>
          <li class="list-group-item"><a class="UserDetail">Hobbies: {{ hobbies }}</a></li>
          <li class="list-group-item"><a class="UserDetail">Interests: {{ interests }}</a></li>
        </ul>
        <div class="card-body">
          <a href="/member/{{ id }}" class="card-link">View Profile</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<div id="NoNembers"></div>